.Starting-image{
    display: block;
    margin: 100px auto 100px auto;
    width: 400px;
    text-align: center;
}
body{
    background-color:  #FFF5FD;
}
.top-container{
    text-align: center;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h3{
    display: inline-block;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 3.625rem;
    color: #C490E4;
}
hr{
    border: dotted;
    width: 5%;
    border-width: 5px 0 0 0;
    color: grey;
    padding-bottom: 100px;
}
.add-stu{
    position: relative;
    text-align: center;
}
.btn-one{
    position: absolute;
    left: 220px;
    top: 150px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-one:hover {
  background: #f5970a;
  text-decoration: none;
}
.btn-two{
    position: absolute;
    right: 220px;
    top: 150px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-two:hover {
  background: #f5970a;
  text-decoration: none;
}
.reg-now{
    display: block;
    width: 200px;
    margin: 25px auto 100px auto;
}
#h3-ele{
    position :absolute;
    left: 100px;
}
#login-text{
    position: absolute;
    right: 100px;
}