.Starting-image{
    display: block;
    margin: 100px auto 100px auto;
    width: 400px;
    text-align: center;
}
#sdms:hover{
    color: gold;
}
.top-container{
    padding-top: 100px;
    background-color: #CDF0EA;
    text-align: center;
}
h1{
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}
h3{
    display: inline-block;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 3.625rem;
    color: #C490E4;
}
hr{
    border: dotted;
    width: 5%;
    border-width: 5px 0 0 0;
    color: grey;
    padding-bottom: 100px;
}
.add-stu{
    position: relative;
    text-align: center;
}
.btn-one{
    position: absolute;
    left: 220px;
    top: 150px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-one:hover {
  background: #f5970a;
  text-decoration: none;
}
.btn-two{
    position: absolute;
    right: 220px;
    top: 150px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-two:hover {
  background: #f5970a;
  text-decoration: none;
}
#h3-ele{
    position :absolute;
    left: 100px;
}
#login-text{
    position: absolute;
    right: 100px;
}
#label-one{
    position: absolute;
    font-family: 'Sacramento', cursive;
    color: #D62AD0;
    font-size:  2.625rem;
    top:220px;
    left: 500px;
}
#label-one-f{
    position: absolute;
    top: 240px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 10px;
    font-size: larger;
    border-bottom: 2px solid blue;
    width: 30%;
}
#label-two{
    position: absolute;
    font-family: 'Sacramento', cursive;
    color: #D62AD0;
    font-size:  2.625rem;
    top:320px;
    left: 500px;
}
#label-two-f{
    position: absolute;
    top: 330px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 10px;
    font-size: larger;
    border-bottom: 2px solid blue;
    width: 30%;
}
#label-three{
    position: absolute;
    font-family: 'Sacramento', cursive;
    color: #D62AD0;
    font-size:  2.625rem;
    top:420px;
    left: 500px;
}
#label-three-f{
    position: absolute;
    top: 420px;
    box-sizing: border-box;
    border-radius: 10px;
    padding-top: 10px;
    font-size: larger;
    border-bottom: 2px solid blue;
    width: 30%;
}
.register-div{
    position: relative;
    text-align: center;
}
.Submit{
    position: absolute;
    top: 550px;
    left: 800px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.Submit:hover {
  background: #f5970a;
  text-decoration: none;
}
.bottom-container{
    text-align: center;
}
#bottom-head{
    text-decoration: underline;
    display: block;
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 1.625rem;
    color: #C490E4;
}
#bottom-head:hover{
    color: gold;
}
.btn-three{
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn-three:hover {
  background: #f5970a;
  text-decoration: none;
}
.last-container{
    margin-top: 80px;
    text-align: center;
    height: 100px;
    background-color: #66BFBF;
}
.btm-mm{
    position: relative;
    top: 40px;
    color: white;
}
.footer-link-one{
    position: relative;
    top: 20px;
    color: #11999E;
}
.middle-container{
    text-align: center;
}
#start-para{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.625rem;
}
#base-hr{
    border: dotted;
    width: 5%;
    border-width: 5px 0 0 0;
    color: grey;
    margin-top: 150px;
}